@import "../../theme/fresh/import.less";

body {
  padding: 0;
  margin: 0;
  background: @general-background;
  font-family: Microsoft JhengHei, sans-serif;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

#blog-container {
  overflow: hidden;
}

.top-blank {
  margin-top: @top-bar-height;
}